@import "var";

.main {
  padding: 4rem 0;
  & :is(h1, h2, h3, h4, h5, h6) {
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
    z-index: 1;

    &:before {
      content: attr(data-en);
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-10deg);
      color: rgba(25, 118, 210, 0.2);
      font-size: 80px;
      font-weight: 400;
      font-family: 'Mrs Saint Delafield', cursive;
      font-style: italic;
    }
  }
  & .divider {
    margin: 16px 0;
  }
}
